<?xml version="1.0" ?>
<robot
  name="rbvogui_plus"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find robotnik_description)/urdf/bases/rbvogui/rbvogui_base.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_description)/urdf/arms/ur_macro.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

  <!-- ARGUMENTS -->
  <xacro:arg
    name="namespace"
    default="robot" />
  <xacro:arg
    name="prefix"
    default="" />
  <xacro:arg
    name="gazebo_ignition"
    default="false" />
  <xacro:arg
    name="ur_type"
    default="ur5e" />

  <!-- RB-VOGUI -->
  <xacro:rbvogui
    prefix="$(arg prefix)"
    gazebo_ignition="$(arg gazebo_ignition)"
    namespace="$(arg namespace)" />

  <!-- ARMS -->
  <xacro:arm_ur
    ur_type="$(arg ur_type)"
    frame_prefix="$(arg prefix)arm_"
    parent="$(arg prefix)chassis_link"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="0 0 0.235"
      rpy="0 0 0" />
  </xacro:arm_ur>

  <!-- IMU -->
  <xacro:sensor_vectornav
    frame_prefix="$(arg prefix)imu_"
    parent="$(arg prefix)chassis_link"
    node_namespace="$(arg namespace)"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="0.127 -0.129 0.212"
      rpy="0 0 0" />
  </xacro:sensor_vectornav>

  <!-- LASERS -->
  <xacro:sensor_sick_s300
    frame_prefix="$(arg prefix)front_laser_"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    node_name="front_laser"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="0.53 0.33 0.1145"
      rpy="0 ${-pi} ${-3/4*pi}" />
  </xacro:sensor_sick_s300>
  <xacro:sensor_sick_s300
    frame_prefix="$(arg prefix)rear_laser_"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    node_name="rear_laser"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="-0.53 -0.33 0.1145"
      rpy="0 ${-pi} ${1/4*pi}" />
  </xacro:sensor_sick_s300>

  <!-- CAMERAS -->
  <xacro:sensor_intel_realsense_d435
    frame_prefix="$(arg prefix)front_rgbd_camera_"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    node_name="front_camera"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="0.46462 0.0 0.18258"
      rpy="0 0 0" />
  </xacro:sensor_intel_realsense_d435>
  <xacro:sensor_intel_realsense_d435
    frame_prefix="$(arg prefix)rear_rgbd_camera_"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    node_name="rear_camera"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="-0.515 0.0 0.29"
      rpy="0 0 -${pi}" />
  </xacro:sensor_intel_realsense_d435>
</robot>
