<?xml version="1.0" ?>
<robot
  name="rbvogui_base"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include
    filename="$(find robotnik_description)/urdf/bodies/rbvogui/rbvogui_body.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_description)/urdf/wheels/steering_wheel/steering_wheel.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_description)/simulators/gazebo_ignition/rbvogui/rbvogui_control.urdf.xacro" />

  <!-- WHEELS PROPERTIES -->
  <xacro:property
    name="wheel_offset_x"
    value="0.368" />
  <xacro:property
    name="wheel_offset_y"
    value="0.235" />
  <xacro:property
    name="wheel_offset_z"
    value="0.0" />

  <xacro:macro
    name="rbvogui"
    params="
      prefix:=robot_
      gazebo_ignition:=false
      namespace:=''
      ">
    <xacro:property
      name="hq"
      value="true" />
    <xacro:rbvogui_body
      prefix="${prefix}"
      hq="${hq}" />

    <xacro:steering_wheel
      prefix="${prefix}front_right_"
      parent="${prefix}base_link"
      reflect="false"
      hq="${hq}">
      <origin
        xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}"
        rpy="0 0 0" />
    </xacro:steering_wheel>
    <xacro:steering_wheel
      prefix="${prefix}front_left_"
      parent="${prefix}base_link"
      reflect="true"
      hq="${hq}">
      <origin
        xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}"
        rpy="0 0 0" />
    </xacro:steering_wheel>
    <xacro:steering_wheel
      prefix="${prefix}back_left_"
      parent="${prefix}base_link"
      reflect="true"
      hq="${hq}">
      <origin
        xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}"
        rpy="0 0 0" />
    </xacro:steering_wheel>
    <xacro:steering_wheel
      prefix="${prefix}back_right_"
      parent="${prefix}base_link"
      reflect="false"
      hq="${hq}">
      <origin
        xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}"
        rpy="0 0 0" />
    </xacro:steering_wheel>

    <xacro:if value="$(arg gazebo_ignition)">
      <xacro:rbvogui_gz_ignition_control
        namespace="${namespace}"
        prefix="${prefix}" />
    </xacro:if>
  </xacro:macro>
</robot>
