<?xml version="1.0" ?>
<robot
  name="rbtheron_plus"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include
    filename="$(find robotnik_description)/urdf/bases/rbtheron/rbtheron_base.xacro" />
  <xacro:include
    filename="$(find robotnik_description)/urdf/bases/rbtheron/rbtheron_top_cover.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_description)/urdf/arms/ur_macro.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

  <!-- ARGUMENTS -->
  <xacro:arg
    name="namespace"
    default="robot" />
  <xacro:arg
    name="prefix"
    default="" />
  <xacro:arg
    name="gazebo_ignition"
    default="false" />
  <xacro:arg
    name="ur_type"
    default="ur5e" />

  <!-- RB-THERON -->
  <xacro:rbtheron
    prefix="$(arg prefix)"
    gazebo_ignition="$(arg gazebo_ignition)"
    namespace="$(arg namespace)" />
  <xacro:rbtheron_plus_top_cover
    prefix="$(arg prefix)"
    parent="$(arg prefix)base_link">
    <origin
      xyz="0.0 0.0 0.26"
      rpy="0.0 0.0 0.0" />
  </xacro:rbtheron_plus_top_cover>

  <!-- ARMS -->
  <xacro:arm_ur
    ur_type="$(arg ur_type)"
    frame_prefix="$(arg prefix)arm_"
    parent="$(arg prefix)top_chassis"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="-0.2 0 0.6"
      rpy="0 0 0" />
  </xacro:arm_ur>

  <!-- IMU -->
  <xacro:sensor_vectornav
    frame_prefix="$(arg prefix)imu_"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="-0.1975 0.0 0.1598"
      rpy="0 0 0" />
  </xacro:sensor_vectornav>

  <!-- LASERS -->
  <xacro:sensor_hokuyo_ust20lx
    frame_prefix="$(arg prefix)front_laser_"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    node_name="front_laser"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="0.2675 -0.215 0.1613"
      rpy="0 ${-pi} ${3/4*pi}" />
  </xacro:sensor_hokuyo_ust20lx>
  <xacro:sensor_hokuyo_ust20lx
    frame_prefix="$(arg prefix)rear_laser_"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    node_name="rear_laser"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="-0.2675 0.215 0.1613"
      rpy="0 ${-pi} ${-1/4*pi}" />
  </xacro:sensor_hokuyo_ust20lx>
  <xacro:sensor_robosense_bpearl
    frame_prefix="$(arg prefix)top_lidar_"
    parent="$(arg prefix)top_chassis"
    node_namespace="$(arg namespace)"
    node_name="top_lidar"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="0.26 0 0.51"
      rpy="${pi/2} ${pi/6} ${pi/2}" />
  </xacro:sensor_robosense_bpearl>

  <!-- CAMERAS -->
  <xacro:sensor_intel_realsense_d435
    frame_prefix="$(arg prefix)front_rgbd_camera_"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    node_name="front_camera"
    gazebo_ignition="$(arg gazebo_ignition)">
    <origin
      xyz="0.3045 0 0.1898"
      rpy="0 0 0" />
  </xacro:sensor_intel_realsense_d435>
  <xacro:sensor_intel_realsense_d435
    frame_prefix="$(arg prefix)rear_rgbd_camera_"
    parent="$(arg prefix)base_link"
    node_namespace="$(arg namespace)"
    node_name="rear_camera"
    gazebo_ignition="$(arg gazebo_ignition)">
    <!-- rear camera offset_z rb_theron chassis type v3: 0.1598 v4 (default): 0.1158 -->
    <origin
      xyz="-0.3045 0 0.1158"
      rpy="0 0 ${pi}" />
  </xacro:sensor_intel_realsense_d435>
</robot>
